shap==0.51.0
ultralytics==8.4.161
geopandas==1.1.4
pandas==3.0.6
numpy==2.4.6
matplotlib==3.11.2
scikit-learn==1.9.1
Pillow==12.3.0
requests==2.34.2
pyproj==3.7.2
shapely==2.1.2
tqdm==4.70.1
timm==1.0.30
ipykernel==7.3.0